In [1]:
import numpy as np
import pandas as pd

### 1. Завантажити набір даних фільмів в pandas

In [2]:
movies = pd.read_csv('https://gist.githubusercontent.com/tiangechen/b68782efa49a16edaf07dc2cdaa855ea/raw/0c794a9717f18b094eabab2cd6a6b9a226903577/movies.csv')
movies.head(10)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
5,Water For Elephants,Drama,20th Century Fox,72,3.081421,60,$117.09,2011
6,WALL-E,Animation,Disney,89,2.896019,96,$521.28,2008
7,Waitress,Romance,Independent,67,11.089742,89,$22.18,2007
8,Waiting For Forever,Romance,Independent,53,0.005000,6,$0.03,2011
9,Valentine's Day,Comedy,Warner Bros.,54,4.184038,17,$217.57,2010

### 2. Перерахуйте всі стовбчики набору даних та дослідіть їх типи даних. Дослідіть статистику по різних областях.

In [5]:
for i in movies.columns:
    print(i)

Film
Genre
Lead Studio
Audience score %
Profitability
Rotten Tomatoes %
Worldwide Gross
Year

In [4]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Film               77 non-null     object
 1   Genre              77 non-null     object
 2   Lead Studio        77 non-null     object
 3   Audience score %   77 non-null     int64
 4   Profitability      77 non-null     float64
 5   Rotten Tomatoes %  77 non-null     int64
 6   Worldwide Gross    77 non-null     object
 7   Year               77 non-null     int64
dtypes: float64(1), int64(3), object(4)
memory usage: 4.9+ KB

In [5]:
movies.isna().sum()

Film                 0
Genre                0
Lead Studio          0
Audience score %     0
Profitability        0
Rotten Tomatoes %    0
Worldwide Gross      0
Year                 0
dtype: int64

In [6]:
print(movies['Genre'].unique())

print(movies['Lead Studio'].unique())

print(movies['Year'].unique())

['Romance' 'Comedy' 'Drama' 'Animation' 'Fantasy' 'Romence' 'Comdy'
 'Action' 'romance' 'comedy']
['The Weinstein Company' 'Independent' 'Disney' 'Fox' '20th Century Fox'
 'Warner Bros.' 'Summit' 'Paramount' 'CBS' 'New Line' 'Sony' 'Universal'
 'Lionsgate']
[2008 2010 2011 2007 2009]

### 3. Скільки всього фільмів в наборі даних?

In [7]:
len(movies['Film'].value_counts())

75

In [7]:
movies['Film'].value_counts()

Mamma Mia!                    2
Gnomeo and Juliet             2
Zack and Miri Make a Porno    1
Love & Other Drugs            1
Killers                       1
                             ..
She's Out of My League        1
Something Borrowed            1
Tangled                       1
The Back-up Plan              1
(500) Days of Summer          1
Name: Film, Length: 75, dtype: int64

In [9]:
movies[movies['Film'].isin(['Mamma Mia!','Gnomeo and Juliet'])]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
45,Mamma Mia!,Comedy,Universal,76,9.234454,53,$609.47,2008
46,Mamma Mia!,Comedy,Universal,76,9.234454,53,$609.47,2008
64,Gnomeo and Juliet,Animation,Disney,52,5.387972,56,$193.97,2011
65,Gnomeo and Juliet,Animation,Disney,52,5.387972,56,$193.97,2011

### 4. Скільки фільмів в наборі даних за кожен рік?

In [10]:
movies.groupby('Year').count()['Film']

Year
2007    11
2008    20
2009    12
2010    20
2011    14
Name: Film, dtype: int64

### 5. Покажіть детальну інформацію про найбільш та найменш прибуткові фільми в наборі даних

In [10]:
movies["Worldwide Gross"] = movies["Worldwide Gross"].str.replace("$","")
movies["Worldwide Gross"] = movies["Worldwide Gross"].astype(float)
movies.head(3)

C:\Users\Anton\AppData\Local\Temp\ipykernel_20028\2189506666.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  movies["Worldwide Gross"] = movies["Worldwide Gross"].str.replace("$","")

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,26.66,2010

In [12]:
movies.nlargest(5,'Worldwide Gross') # Найбільш прибуткові

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
14,The Twilight Saga: New Moon,Drama,Summit,78,14.196400,27,709.82,2009
11,Twilight: Breaking Dawn,Romance,Independent,68,6.383364,26,702.17,2011
45,Mamma Mia!,Comedy,Universal,76,9.234454,53,609.47,2008
46,Mamma Mia!,Comedy,Universal,76,9.234454,53,609.47,2008
6,WALL-E,Animation,Disney,89,2.896019,96,521.28,2008

In [11]:
movies.nsmallest(5,'Worldwide Gross') # Найменш прибуткові

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
8,Waiting For Forever,Romance,Independent,53,0.005000,6,0.03,2011
39,My Week with Marilyn,Drama,The Weinstein Company,84,0.825800,83,8.26,2011
74,A Dangerous Method,Drama,Independent,89,0.448645,79,8.97,2011
35,Not Easily Broken,Drama,Independent,66,2.140000,34,10.70,2009
71,Beginners,Comedy,Independent,80,4.471875,84,14.31,2011

### 6. Значення "жанр" інколи здаються непослідовними. Спробуйте знайти ці невідповідності та виправте їх

In [12]:
movies['Genre'].unique()

array(['Romance', 'Comedy', 'Drama', 'Animation', 'Fantasy', 'Romence',
       'Comdy', 'Action', 'romance', 'comedy'], dtype=object)

In [13]:
movies['Genre'].value_counts()

Comedy       41
Romance      13
Drama        13
Animation     4
Fantasy       1
Romence       1
Comdy         1
Action        1
romance       1
comedy        1
Name: Genre, dtype: int64

In [14]:
movies.replace('Romence','Romance', inplace=True)

In [15]:
movies.replace('romance','Romance', inplace=True)

In [16]:
movies.replace('romance','Romance', inplace=True)

In [17]:
movies.replace(['Comdy','comedy'], 'Comedy', inplace=True)

In [18]:
movies['Genre'].value_counts()

Comedy       43
Romance      15
Drama        13
Animation     4
Fantasy       1
Action        1
Name: Genre, dtype: int64

### 7. Збережіть (в новий файл csv) 10 найкращих комедій по кількості глядачів. Вкажіть лише назву фільму, рік та студію

In [20]:
ten_best_comedy = movies[movies['Genre'] == 'Comedy'].nlargest(10,'Audience score %').loc[:,['Film','Year','Lead Studio']]
ten_best_comedy

                                  Film  Year   Lead Studio
54                          Knocked Up  2007     Universal
27                    Sex and the City  2008  Warner Bros.
76                (500) Days of Summer  2009           Fox
69                           Enchanted  2007        Disney
71                           Beginners  2011   Independent
44                       Marley and Me  2008           Fox
45                          Mamma Mia!  2008     Universal
46                          Mamma Mia!  2008     Universal
60  High School Musical 3: Senior Year  2008        Disney
16                        The Proposal  2009        Disney

In [23]:
ten_best_comedy.to_csv('ten_best_comedy.csv')